.wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    max-width: 1600px;
    margin: 0 auto;

    font-size: 2rem;

    font-family: $special-font;
}